/* ========================= */
/* TABLAS */
/* ========================= */

table{
    border-collapse: collapse;
    width: 100%;
}

th,
td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th{
    background: #eeeeee;
}

/* ========================= */
/* ESTADOS */
/* ========================= */

.abierto{
    color: red;
    font-weight: bold;
}

.pendiente{
    color: orange;
    font-weight: bold;
}

.cerrado{
    color: green;
    font-weight: bold;
}